/* criação 19-12-1981 */
/* David Berriel Leonardo */


/* não precisa de reset, o bootstrap já faz isso.*/


.box{
    position: relative;
    top:30px;
}

section.banner{
    padding: 150px 0;
    top:32px;
    position: relative;
    width:100%;
    min-height: 700px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

section.banner > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    background: rgba(0,0,0,0.4);
    z-index: 1;

}

.chamada-banner h2{
    font-weight: 600; /* verificar o peso ou sombreado. */
    color:#21f359;
    font-size: 3rem;
}
.chamada-banner p{
    color: white;
    font-size: 1.5rem;
}

/* Cadastro */

.cadastro-lead{
    width:100%;
    height:50vh;
    background-color:#e9ecef;
    padding: 100px 0;
}

.cadastro-lead  h2{
    margin-bottom: 50px;
    text-align: center;
    padding: 0 50px;
}